header {
  position: absolute;
  width: 1440px;
  height: 188.19px;
  left: 0px;
  top: 0px;
  background: #e6e6e6;
}
.section-logo-batman {
  position: absolute;
  width: 100px;
  height: 146.37px;
  left: 670px;
  top: 20.91px;
  background:  #000 center/cover url("/img/perfil.png") no-repeat
}
main {
  font-family: "Times New Roman", Times, serif;
}
.title {
  position: absolute;
  width: 1440px;
  height: 60px;
  left: 0px;
  top: 188px;
  background: #c4c4c4;
}
h1 {
  color: #005677;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 29.64px;
  text-align: center;
  letter-spacing: 10px;
}
.section-personal-information {
  position: absolute;
  width: 1440px;
  height: 107px;
  left: 0px;
  top: 40px;
}
.subtitulo1 {
  position: absolute;
  width: 1440px;
  height: 30px;
  left: 0px;
  top: 376px;
  background: #c4c4c4;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 10.69%;
  letter-spacing: 5px;
  color: #005677;
}

#item-personal-information {
  position: absolute;
  width: 500px;
  height: 13px;
  top: 424px;
}
span {
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  line-height: 84.69%;
}
#item-personal-information span {
  font-style: italic;
}

.section-academic-information {
  position: absolute;
  width: 1440px;
  height: 30px;
  left: 0px;
  top: 600px;
  background: #c4c4c4;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 10.69%;
  letter-spacing: 5px;
  color: #005677;
}

#item-academic-information {
  position: absolute;
  width: 550px;
  height: 34px;
  left: 20px;
  top: 50px;
}
dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
  margin-inline-start: 5px;
}

.section-work-experience {
  position: absolute;
  width: 1440px;
  height: 30px;
  left: 0px;
  top: 780px;
  background: #c4c4c4;
}
footer {
  position: absolute;
  width: 1440px;
  height: 37px;
  left: 0px;
  top: 1000px;
  background: #005677;
}
#span-footer {
  font-size: 20px;
  color: #ffffff;
  left: 400px;
  position: absolute;
  line-height: 150.69%;
}

.footer-logo_instagram {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 872px;
  top: 5px;
  background: url("../img/ico_instagram.png");
}
.footer-logo-linkedin{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 918px;
  top: 5px;
  background: url("../img/ico_linkedin.png");
}
